// Psuedo elements
%before,
%after {
    content: '';
    display: block;
    position: absolute;
}

// Buttons
%btn {
    border-radius: 50px;
    display: inline-block;
    padding: 10px 35px;
    font-family: $headline;
    font-size: 11px;
    line-height: 1em;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px solid $darker-gray;
    outline: 0;
    @media screen and ( min-width: 981px ) {
        font-size: 16px;
        letter-spacing: 1px;
        padding: 16px 64px;
    }
}
.btn--white {
    @extend %btn;
    color: $darker-gray;
    &:hover {
        background: $gold;
        border-color: $gold;
    }
}
.btn--gray {
    @extend %btn;
    color: $white;
    background: $darker-gray;
    &:hover {
        background: $dark-gray;
        border-color: $dark-gray;
    }
}
.btn--gold {
    @extend %btn;
    color: $darker-gray;
    background: $gold;
    border-color: $gold;
    &:hover {
        background: $dark-gold;
        border-color: $dark-gold;
    }
}

// Input label text
.input-wrapper {
    position: relative;
    font-size: 11px;
    line-height: 14px;
    label {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translate( 0, -50% );
        transition: all 0.3s;
    }
    .textarea-label {
        top: 12px;
        transform: none;
    }
    .small-display {
        font-size: 8px;
        line-height: 1em;
        top: 2px;
        transform: none;
    }
}

// Form inputs
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea,
select {
    box-shadow: none;
    box-sizing: border-box;
    background: $white;
    border: 0;
    display: block;
    margin: 0;
    padding: 12px 14px;
    width: 100%;
    border-radius: 4px;
    &:focus {
        outline: none;
    }
}

select {
    appearance: none;
    user-select: none;
    border-radius: 0;
    box-sizing: border-box;
    background: transparent;
    position: relative;
    z-index: 1;
}


// Select Arrow
.select-wrapper {
     position:relative;
     background: none;
     width: 100%;
     select {
         margin: 0;
         padding-right: 20px;
     }
     select::-ms-expand {
        display: none;
    }
     &:before {
         @extend %before;
         border: 4px solid transparent;
         border-bottom: 0;
         border-top: 6px solid $white;
         right: 10px;
         top: 50%;
         transform: translate( 0, -50% );
         pointer-events: none;
    }
}

// Checkbox
.checkbox__input {
    position: absolute;
    clip: rect( 0, 0, 0, 0 );
}
.checkbox__label {
    font-size: 10.75px;
    letter-spacing: 0px;
    line-height: 24px;
    padding-left: 30px;
    position: relative;
    display: inline-block;
    &:before {
        @extend %before;
        height: 14px;
        width: 14px;
        border: 2px solid $gold;
        background: $white;
        top: 50%;
        left: 0;
        transform: translate( 0, -50% );
        border-radius: 4px;
        transition: all 0.3s;
    }
    .checkbox__input:checked + & {
        &:before {
            background: $gold;
        }
        &:after {
            @extend %after;
            font-family: $font-awesome;
            content: '\f00c';
            height: 10px;
            width: 10px;
            font-size: 10px;
            line-height: 1em;
            color: $white;
            text-align: center;
            top: 50%;
            left: 4px;
            transform: translate( 0, -50% );
        }
    }
}

// Hidden text
.hidden-text {
    display: none;
}
