.layout__footer {
    background: $darker-gray;
}
.footer-nav-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    @media screen and ( min-width: 501px ) {
        margin: 0 -24px;
    }
}
.footer-nav {
    color: $white;
    flex: 1 1 auto;
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px;
    @media screen and ( min-width: 501px ) {
        width: 25%;
        padding: 0 24px;
    }
}
.footer-nav__title {
    font-family: $sans;
    font-weight: bold;
    font-size: 12px;
    color: $white;
    letter-spacing: 0.8px;
    border-bottom: 1px solid $dark-gray;
    text-transform: uppercase;
}
.footer-nav__item {
    color: $white;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 12.8px;
    margin-bottom: 11px;
}
.footer__bottom {
    border-top: 1px solid $dark-gray;
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    @media screen and ( min-width: 501px ) {
        margin-top: 22px;
        justify-content: space-between;
    }
}
.social__list {
    display: flex;
    justify-content: center;
}
.social__item {
    padding: 0 10px;
    flex: 0 0 auto;
    font-size: 20px;
    color: $gold
}
.social-container {
    flex: 1 0 100%;
    order: 1;
    margin: 23px 0 28px;
    @media screen and ( min-width: 501px ) {
        order: 2;
        flex: 0 0 auto;
        margin: 31px 0 0;
    }
}
.copyright-container {
    flex: 1 0 100%;
    order: 2;
    font-family: $sans;
    font-size: 11px;
    color: $white;
    letter-spacing: 0px;
    line-height: 12.8px;
    text-align: center;
    margin-bottom: 10px;
    @media screen and ( min-width: 501px ) {
        order: 1;
        flex: 0 0 auto;
        margin: 31px 0 0;
        text-align: left;
    }
}
.copyright {
    margin-bottom: 3px;
}
