body {
    min-width: 320px;
}
.width-container {
    max-width: 1300px;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0 auto;
    &.half-padding {
        padding: 0 15px;
    }
    @media screen and ( min-width: 551px ) {
        padding: 0 80px;
        &.half-padding {
            padding: 0 24;
        }
    }
}

section {
    padding: 28px 0;
    @media screen and ( min-width: 551px ) {
        padding: 40px 0;
    }
    @media screen and ( min-width: 981px ) {
        padding: 76px 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}
