body {
    min-width: 320px;
}
.width-container {
    max-width: 1200px;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0 auto;
    &.half-padding {
        padding: 0 15px;
    }
}

section {
    //padding: 40px 0;
    padding: 28px 0;
}

img {
    max-width: 100%;
    height: auto;
}
