// Colors
$gold: #EBCB80;
$dark-gold: #D1B471;
$darker-gray: #4B4B4B;
$dark-gray: #7D7D7D;
$light-gray: #E6E6E6;
$lighter-gray: #F6F6F6;

$text: $darker-gray;

// Fonts
$headline: 'Montserrat', sans-serif;
$sans: 'Source Sans Pro', sans-serif;
