/* Roundsphere Code Test
Authored by: Kyle Sullivan
kylepsullivan@gmail.com */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  color: #4B4B4B;
  line-height: 1.5; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 54px;
  margin: 10px 0; }
  @media screen and (max-width: 780px) {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 32px; } }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 32px;
      letter-spacing: -0.5px;
      line-height: 28px; } }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  letter-spacing: -1.61px;
  line-height: 48px;
  margin: 10px 0; }
  @media screen and (max-width: 780px) {
    h2 {
      font-size: 32px;
      letter-spacing: -0.81px;
      line-height: 40px; } }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 20px;
      letter-spacing: -0.5px;
      line-height: 40px; } }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing: -0.81px;
  line-height: 42px;
  margin: 5.33px 0; }
  @media screen and (max-width: 780px) {
    h3 {
      font-size: 24px;
      letter-spacing: -0.61px;
      line-height: 32px; } }
  @media screen and (max-width: 500px) {
    h3 {
      font-size: 16px;
      letter-spacing: -0.41px;
      line-height: 32px; } }

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 10px 0; }
  @media screen and (max-width: 780px) {
    h4 {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 24px; } }
  @media screen and (max-width: 500px) {
    h4 {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 24px; } }

.section__title {
  text-align: center; }

.section__title--light {
  color: #fff; }

.section__subtitle {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 16px; }

body {
  min-width: 320px; }

.width-container {
  max-width: 1200px;
  padding: 0 40px;
  box-sizing: border-box;
  margin: 0 auto; }
  .width-container.half-padding {
    padding: 0 20px; }

section {
  padding: 28px 0; }

img {
  max-width: 100%;
  height: auto; }

.layout__header {
  background-image: url("../images/landingbackground.png");
  background-size: auto 100%;
  background-position: center;
  padding-bottom: 30px; }

.logo-container {
  display: none; }
  @media screen and (min-width: 801px) {
    .logo-container {
      display: block; } }

.nav-container {
  display: none; }
  @media screen and (min-width: 801px) {
    .nav-container {
      display: block; } }

.search-container {
  display: none; }
  @media screen and (min-width: 801px) {
    .search-container {
      display: block; } }

.select-container {
  display: none; }
  @media screen and (min-width: 801px) {
    .select-container {
      display: block; } }

.tagline {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.53px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); }

.hero__title {
  font-size: 32px;
  color: #EBCB80;
  letter-spacing: 1px;
  text-transform: uppercase; }

.hero__subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.37px; }

.hero__text {
  font-size: 11px;
  color: #fff;
  letter-spacing: 0px;
  line-height: 16px; }

.hero__image {
  height: 0;
  padding-top: 46%;
  width: 94%;
  margin: 0 auto;
  background-image: url("../images/iphone--horizontal.png");
  background-size: cover;
  margin: 16px 0; }

.download-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 0 auto; }

.download__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center; }
  .download__link:first-child {
    margin-right: 8px; }

.stats {
  margin-top: 36px; }

.stat-container {
  width: 140px;
  margin: 28px auto 0;
  text-align: center; }

.svg-container {
  -webkit-transform: rotate(-90deg) rotateX(180deg);
          transform: rotate(-90deg) rotateX(180deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
  overflow: hidden; }

.path {
  stroke-dashoffset: 616;
  stroke-dasharray: 616;
  -webkit-transition: all 2s cubic-bezier(0.435, 1.565, 0.81, 0.875);
          transition: all 2s cubic-bezier(0.435, 1.565, 0.81, 0.875);
  stroke: #EBCB80;
  stroke-width: 4px;
  fill: none; }

.stat__circle {
  position: relative; }

.stat {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  line-height: 22.39px; }

.stat__large-text {
  font-size: 32px;
  letter-spacing: -0.81px; }

.stat__small-text {
  font-size: 16px;
  letter-spacing: -0.4px; }

.stat__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 16px; }

.stat__text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 16px; }

.layout__client-slider {
  background: url("../images/clientbackground.png"); }

.slide--client {
  padding-top: 46px;
  position: relative;
  quotes: "\201C" "\201D" "\201C" "\201D"; }
  .slide--client:before {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    color: #EBCB80;
    letter-spacing: 0px;
    content: open-quote;
    position: absolute;
    left: 50%;
    top: -10px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.client-slide__text {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 16px; }

.client {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1em; }

.client__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 15px; }

.client__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.client__name {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: #EBCB80;
  letter-spacing: 0px;
  line-height: 1em;
  margin: 0; }

.client__link {
  font-size: 11px;
  color: #fff;
  line-height: 1em; }

.layout__client-slider .bx-controls {
  display: none; }
