/* Roundsphere Code Test
Authored by: Kyle Sullivan
kylepsullivan@gmail.com */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  color: #4B4B4B;
  line-height: 1.5; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 54px;
  margin: 10px 0; }
  @media screen and (max-width: 980px) {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 32px; } }
  @media screen and (max-width: 550px) {
    h1 {
      font-size: 32px;
      letter-spacing: -0.5px;
      line-height: 28px; } }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  letter-spacing: -1.61px;
  line-height: 48px;
  margin: 10px 0; }
  @media screen and (max-width: 980px) {
    h2 {
      font-size: 32px;
      letter-spacing: -0.81px;
      line-height: 40px; } }
  @media screen and (max-width: 550px) {
    h2 {
      font-size: 20px;
      letter-spacing: -0.5px;
      line-height: 40px; } }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing: -0.81px;
  line-height: 42px;
  margin: 5.33px 0; }
  @media screen and (max-width: 980px) {
    h3 {
      font-size: 24px;
      letter-spacing: -0.61px;
      line-height: 32px; } }
  @media screen and (max-width: 550px) {
    h3 {
      font-size: 16px;
      letter-spacing: -0.41px;
      line-height: 32px; } }

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 10px 0; }
  @media screen and (max-width: 980px) {
    h4 {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 24px; } }
  @media screen and (max-width: 550px) {
    h4 {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 24px; } }

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.section__title {
  text-align: center; }

.section__title--light {
  color: #fff; }

.section__subtitle {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 16px; }
  @media screen and (min-width: 981px) {
    .section__subtitle {
      font-size: 16px;
      line-height: 24px; } }

body {
  min-width: 320px; }

.width-container {
  max-width: 1300px;
  padding: 0 40px;
  box-sizing: border-box;
  margin: 0 auto; }
  .width-container.half-padding {
    padding: 0 15px; }
  @media screen and (min-width: 551px) {
    .width-container {
      padding: 0 80px; }
      .width-container.half-padding {
        padding: 0 24; } }

section {
  padding: 28px 0; }
  @media screen and (min-width: 551px) {
    section {
      padding: 40px 0; } }
  @media screen and (min-width: 981px) {
    section {
      padding: 76px 0; } }

img {
  max-width: 100%;
  height: auto; }

.select-wrapper:before, .checkbox__label:before, .contact__link:before,
.checkbox__input:checked + .checkbox__label:after {
  content: '';
  display: block;
  position: absolute; }

.btn--white, .btn--gray, .btn--gold {
  border-radius: 50px;
  display: inline-block;
  padding: 10px 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  line-height: 1em;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  cursor: pointer;
  border: 2px solid #4B4B4B;
  outline: 0; }

.btn--white {
  color: #4B4B4B; }
  .btn--white:hover {
    background: #EBCB80;
    border-color: #EBCB80; }

.btn--gray {
  color: #fff;
  background: #4B4B4B; }
  .btn--gray:hover {
    background: #7D7D7D;
    border-color: #7D7D7D; }

.btn--gold {
  color: #4B4B4B;
  background: #EBCB80;
  border-color: #EBCB80; }
  .btn--gold:hover {
    background: #D1B471;
    border-color: #D1B471; }

.input-wrapper {
  position: relative;
  font-size: 11px;
  line-height: 14px; }
  .input-wrapper label {
    position: absolute;
    top: 50%;
    left: 14px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .input-wrapper .textarea-label {
    top: 12px;
    -webkit-transform: none;
            transform: none; }
  .input-wrapper .small-display {
    font-size: 8px;
    line-height: 1em;
    top: 2px;
    -webkit-transform: none;
            transform: none; }

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea,
select {
  box-shadow: none;
  box-sizing: border-box;
  background: #fff;
  border: 0;
  display: block;
  margin: 0;
  padding: 12px 14px;
  width: 100%;
  border-radius: 4px; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  textarea:focus,
  select:focus {
    outline: none; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
  box-sizing: border-box;
  background: transparent;
  position: relative;
  z-index: 1; }

.select-wrapper {
  position: relative;
  background: none;
  width: 100%; }
  .select-wrapper select {
    margin: 0;
    padding-right: 20px; }
  .select-wrapper select::-ms-expand {
    display: none; }
  .select-wrapper:before {
    border: 4px solid transparent;
    border-bottom: 0;
    border-top: 6px solid #fff;
    right: 10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    pointer-events: none; }

.checkbox__input {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

.checkbox__label {
  font-size: 10.75px;
  letter-spacing: 0px;
  line-height: 24px;
  padding-left: 30px;
  position: relative;
  display: inline-block; }
  .checkbox__label:before {
    height: 14px;
    width: 14px;
    border: 2px solid #EBCB80;
    background: #fff;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border-radius: 4px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .checkbox__input:checked + .checkbox__label:before {
    background: #EBCB80; }
  .checkbox__input:checked + .checkbox__label:after {
    font-family: "FontAwesome";
    content: '\f00c';
    height: 10px;
    width: 10px;
    font-size: 10px;
    line-height: 1em;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 4px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.hidden-text {
  display: none; }

.layout__header {
  background-image: url("../images/landingbackground.png");
  background-size: auto 100%;
  background-position: center;
  padding-bottom: 30px; }
  @media screen and (min-width: 650px) and (max-width: 980px) {
    .layout__header {
      padding-top: 70px; }
      .layout__header .width-container {
        padding: 0 86px; } }
  @media screen and (min-width: 981px) {
    .layout__header {
      padding: 26px 0 60px; } }

.header__top {
  display: none; }
  @media screen and (min-width: 981px) {
    .header__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

@media screen and (min-width: 981px) {
  .logo-container {
    margin-right: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }

  .nav-container,
  .search-container,
  .select-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 0; }

  .logo {
    width: 36px;
    height: 27px;
    text-indent: 120%;
    overflow: hidden;
    background: url("../images/hofmann.png") no-repeat; }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .nav__item {
    display: 0 0 auto;
    margin: 0 19px;
    color: #fff;
    font-weight: bold;
    font-size: 18px; }
    .nav__item:hover {
      color: #EBCB80; }

  .search-container {
    margin-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .search-container .search__button {
      background: none;
      border: none;
      outline: none;
      color: #fff;
      font-size: 18px;
      position: relative;
      cursor: pointer; }
      .search-container .search__button:hover {
        color: #EBCB80; }
    .search-container .search__input {
      background: rgba(75, 75, 75, 0.6);
      opacity: 0;
      -webkit-transition: all 0.3s;
              transition: all 0.3s;
      border-radius: 20px;
      width: 0;
      padding: 5px 0;
      position: absolute;
      top: 120%;
      right: 0;
      color: #fff;
      font-size: 14px; }
      .search-container .search__input.active {
        opacity: 1;
        width: 190px;
        padding: 5px 14px; }

  .search__button__text {
    display: none; }

  .js-search__toggle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .js-search__toggle.hidden {
      visibility: hidden;
      opacity: 0; }

  .select-container {
    margin-left: 29px; }
    .select-container .location__select {
      padding: 5px 20px 5px 14px;
      border: 2px solid #fff;
      color: #fff;
      border-radius: 20px; }
    .select-container:hover .location__select {
      border-color: #EBCB80;
      color: #EBCB80; }
    .select-container .select-wrapper:hover:before {
      border-top-color: #EBCB80; } }
@media screen and (min-width: 551px) {
  .header__bottom {
    padding-right: 50%;
    box-sizing: border-box;
    position: relative; } }
@media screen and (min-width: 981px) {
  .header__bottom {
    margin: 0 8.7719298246%;
    padding-right: 45%; } }

.tagline {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.53px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 981px) {
    .tagline {
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 1px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      margin: 68px 0 148px; } }

@media screen and (min-width: 551px) {
  .hero__content {
    margin-bottom: 38px; } }

.hero__title {
  font-size: 32px;
  color: #EBCB80;
  letter-spacing: 1px;
  text-transform: uppercase; }
  @media screen and (min-width: 981px) {
    .hero__title {
      font-size: 64px;
      letter-spacing: 2px; } }

.hero__subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.37px; }
  @media screen and (min-width: 981px) {
    .hero__subtitle {
      font-size: 24px;
      letter-spacing: 0px;
      line-height: 36px;
      margin: 50px 0 35px; } }

.hero__text {
  font-size: 11px;
  color: #fff;
  letter-spacing: 0px;
  line-height: 16px; }
  @media screen and (min-width: 981px) {
    .hero__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 100px; } }

.hero__image {
  height: 0;
  padding-top: 46%;
  width: 94%;
  margin: 0 auto;
  background-image: url("../images/iphone--horizontal.png");
  background-size: cover;
  margin: 16px 0; }
  @media screen and (min-width: 551px) {
    .hero__image {
      position: absolute;
      right: 0;
      bottom: -30px;
      background-image: url("../images/hero-phone.png");
      margin: 0;
      width: 29%;
      min-width: 180px;
      padding-top: 0;
      height: 337px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: bottom center; } }
  @media screen and (min-width: 650px) {
    .hero__image {
      right: 20px; } }
  @media screen and (min-width: 920px) and (max-width: 980px) {
    .hero__image {
      background-position: top center; } }
  @media screen and (min-width: 981px) {
    .hero__image {
      bottom: -60px;
      right: 0;
      width: 38%;
      height: 551px; } }

.download-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 0 auto; }
  @media screen and (min-width: 981px) {
    .download-container {
      width: 100%;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.download__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center; }
  .download__link:first-child {
    margin-right: 8px; }
    @media screen and (min-width: 981px) {
      .download__link:first-child {
        margin-right: 30px; } }

@media screen and (min-width: 551px) {
  .layout__results {
    padding: 34px 0 48px; } }
@media screen and (min-width: 981px) {
  .layout__results {
    padding: 76px 0 105px; } }

.stats {
  margin-top: 36px;
  margin-bottom: 8px; }
  @media screen and (min-width: 551px) {
    .stats {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; } }

.stat-container {
  width: 140px;
  margin: 28px auto 0;
  text-align: center; }
  @media screen and (min-width: 981px) {
    .stat-container {
      width: 262px;
      margin: 53px auto 0; } }

.svg-container {
  -webkit-transform: rotate(-90deg) rotateX(180deg);
          transform: rotate(-90deg) rotateX(180deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
  overflow: hidden; }
  @media screen and (min-width: 981px) {
    .svg-container {
      width: 204px;
      height: 204px; } }

.path {
  stroke-dashoffset: 616;
  stroke-dasharray: 616;
  -webkit-transition: all 2s cubic-bezier(0.435, 1.565, 0.81, 0.875);
          transition: all 2s cubic-bezier(0.435, 1.565, 0.81, 0.875);
  stroke: #EBCB80;
  stroke-width: 4px;
  fill: none; }

.stat__circle {
  position: relative; }

.stat {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif; }

.stat__large-text {
  font-size: 32px;
  letter-spacing: -0.81px; }
  @media screen and (min-width: 981px) {
    .stat__large-text {
      font-size: 64px;
      letter-spacing: -1.61px; } }

.stat__small-text {
  font-size: 16px;
  letter-spacing: -0.4px; }
  @media screen and (min-width: 981px) {
    .stat__small-text {
      font-size: 32px;
      letter-spacing: -0.8px; } }

.stat__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 16px;
  font-weight: bold;
  margin: 15px 0 8px; }
  @media screen and (min-width: 981px) {
    .stat__title {
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 1em;
      margin: 26px 0; } }

.stat__text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 16px; }
  @media screen and (min-width: 981px) {
    .stat__text {
      font-size: 16px;
      line-height: 24px; } }

.layout__client-slider {
  background: url("../images/clientbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (min-width: 551px) {
    .layout__client-slider .width-container {
      padding: 0 80px; } }
  @media screen and (min-width: 650px) {
    .layout__client-slider .width-container {
      padding: 0 120px; } }

.slide--client {
  padding-top: 46px;
  position: relative;
  quotes: "\201C" "\201D" "\201C" "\201D"; }
  .slide--client:before {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    color: #EBCB80;
    letter-spacing: 0px;
    content: open-quote;
    position: absolute;
    left: 50%;
    top: -10px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  @media screen and (min-width: 551px) {
    .slide--client {
      padding: 46px 53px 0; } }
  @media screen and (min-width: 981px) {
    .slide--client {
      padding: 110px 129px 0; }
      .slide--client:before {
        font-size: 144px;
        letter-spacing: 0px;
        top: -20px; } }

.client-slide__text {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 16px; }
  @media screen and (min-width: 981px) {
    .client-slide__text {
      font-size: 24px;
      line-height: 36px;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); } }

.client {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1em; }
  @media screen and (min-width: 551px) {
    .client {
      margin-top: 40px; } }

.client__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 15px; }

.client__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.client__name {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: #EBCB80;
  letter-spacing: 0px;
  line-height: 1em;
  margin: 0;
  font-weight: bold; }
  @media screen and (min-width: 981px) {
    .client__name {
      font-size: 18px;
      line-height: 30px; } }

.client__link {
  font-size: 11px;
  color: #fff;
  line-height: 1em; }
  .client__link:hover {
    color: #D1B471; }
  @media screen and (min-width: 981px) {
    .client__link {
      font-size: 16px;
      line-height: 30px; } }

.layout__client-slider .bx-wrapper {
  position: relative; }
.layout__client-slider .bx-controls {
  display: none; }
  @media screen and (min-width: 551px) {
    .layout__client-slider .bx-controls {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); } }
@media screen and (min-width: 551px) {
  .layout__client-slider .bx-prev,
  .layout__client-slider .bx-next {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 40px;
    width: 40px;
    text-indent: 120px;
    overflow: hidden;
    background: url("../images/arrow_left.png") no-repeat;
    background-size: cover;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); }
    .layout__client-slider .bx-prev:hover,
    .layout__client-slider .bx-next:hover {
      opacity: 0.7;
      -webkit-transform: translate(0, -100%) scale(1.05);
              transform: translate(0, -100%) scale(1.05); } }
  @media screen and (min-width: 551px) and (min-width: 981px) {
    .layout__client-slider .bx-prev,
    .layout__client-slider .bx-next {
      height: 64px;
      width: 64px; } }
@media screen and (min-width: 551px) {
  .layout__client-slider .bx-next {
    left: 100%;
    right: auto;
    background-image: url("../images/arrow_right.png"); } }

.products {
  margin: 20px 0 0; }
  @media screen and (min-width: 551px) {
    .products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.product {
  margin: 0 auto 32px;
  text-align: center;
  width: 160px; }
  @media screen and (min-width: 551px) {
    .product {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      padding: 0 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (min-width: 700px) {
    .product {
      padding: 0; } }

.product__image {
  margin-bottom: 16px; }
  .product__image img {
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
    .product__image img:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }

.product__title {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 16px;
  margin: 0; }

.product__authors {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 16px;
  margin-bottom: 20px; }

.product__byline {
  display: block;
  font-style: italic; }

@media screen and (min-width: 551px) {
  .product__review {
    margin-top: auto; } }

.product__link:hover {
  color: #7D7D7D; }

.layout__signup {
  background: #EBCB80;
  background-image: -webkit-linear-gradient(266deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(184deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 60px 0 80px; }
  .layout__signup .input-wrapper {
    width: 220px;
    margin: 0 auto; }
  .layout__signup .signup__input {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    margin: 20px 0 44px;
    width: 100%; }
  .layout__signup .signup__button {
    width: 100%; }
  .layout__signup .section__subtitle {
    width: 220px;
    margin: 0 auto; }
    @media screen and (min-width: 551px) {
      .layout__signup .section__subtitle {
        width: auto; } }

.layout__people-slider .width-container {
  padding: 0 25px; }

.slider--people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 550px) {
    .slider--people {
      margin-left: 7px; } }

.slide--people {
  padding: 8px 8px 32px; }

.slide--inner {
  background: #4B4B4B;
  padding: 92px 27px 60px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-image: -webkit-linear-gradient(227deg, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  background-image: linear-gradient(223deg, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  position: relative;
  quotes: "\201C" "\201D" "\201C" "\201D"; }
  .slide--inner:before {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 64px;
    color: #F6F6F6;
    letter-spacing: 0px;
    content: open-quote;
    position: absolute;
    left: 50%;
    top: 10px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.people-slide__text {
  font-size: 11px;
  color: #F6F6F6;
  letter-spacing: 0px;
  line-height: 16px;
  margin-bottom: 26px; }

.people-slide__name {
  font-size: 18px;
  color: #EBCB80;
  letter-spacing: 0px;
  font-weight: bold; }

.people-slide__title {
  font-size: 12px;
  color: #F6F6F6;
  letter-spacing: 0px;
  line-height: 30px; }

.people-slide__link {
  font-weight: bold; }

.people-slide__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 64px; }

@media screen and (min-width: 551px) {
  .slide--people:nth-child(odd) .slide--inner {
    background: #EBCB80; }
    .slide--people:nth-child(odd) .slide--inner:before {
      color: #4B4B4B; }
  .slide--people:nth-child(odd) .people-slide__text,
  .slide--people:nth-child(odd) .people-slide__name,
  .slide--people:nth-child(odd) .people-slide__title {
    color: #4B4B4B; }
  .slide--people .people-slide__image {
    left: auto;
    right: 48px;
    -webkit-transform: none;
            transform: none; } }
.layout__people-slider .bx-wrapper {
  position: relative;
  top: 10px; }
.layout__people-slider .bx-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.layout__people-slider .bx-pager-item {
  margin: 10px; }
.layout__people-slider .bx-pager-link {
  text-indent: 120%;
  overflow: hidden;
  display: block;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  border: 2px solid #4B4B4B;
  background: #fff; }
  .layout__people-slider .bx-pager-link.active {
    background: #4B4B4B; }
  .layout__people-slider .bx-pager-link:not(.active):hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }

.section__title--large-screen {
  display: none; }

@media screen and (min-width: 981px) {
  .section__title--large-screen {
    display: block; }

  .section__title--small-screen {
    display: none; } }
.layout__contact {
  background-image: url("../images/contactbackground.png");
  background-size: auto 100%;
  background-position: center; }
  .layout__contact .section__title {
    font-size: 31.28px;
    letter-spacing: -0.81px;
    line-height: 40px;
    padding: 20px 0; }

.contact__form {
  background: #4B4B4B;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 35px;
  width: 290px;
  box-sizing: border-box;
  margin: 0 auto; }
  .contact__form .input-wrapper {
    margin-bottom: 24px; }
  .contact__form .contact__input {
    background: rgba(255, 255, 255, 0.8); }

.contact__input {
  font-size: 10.75px;
  letter-spacing: 0.1px; }

.contact__input--message {
  height: 91px; }

.form__checkbox-container {
  text-align: center;
  color: #fff; }

.form__submit-container {
  text-align: center;
  margin-top: 9px; }

.contact__details {
  margin-top: 32px; }
  @media screen and (min-width: 650px) {
    .contact__details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.contact__detail {
  color: #fff;
  padding: 0 15px;
  width: 290px;
  margin: 0 auto;
  box-sizing: border-box; }
  @media screen and (min-width: 650px) {
    .contact__detail {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      width: auto;
      margin: 0;
      padding: 0 30px; } }

.contact__link {
  font-size: 10.75px;
  letter-spacing: 0px;
  line-height: 30px;
  padding-left: 32px;
  position: relative;
  display: inline-block; }
  .contact__link:before {
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 22px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center; }
  .contact__link:hover {
    color: #E6E6E6;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.contact__link--address:before {
  background-image: url("../images/pin.png"); }

.contact__link--email:before {
  background-image: url("../images/mail.png"); }

.contact__link--phone:before {
  background-image: url("../images/phone.png"); }

.layout__footer {
  background: #4B4B4B; }

.footer-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px; }
  @media screen and (min-width: 551px) {
    .footer-nav-container {
      margin: 0 -24px; } }

.footer-nav {
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 50%;
  box-sizing: border-box;
  padding: 0 15px; }
  @media screen and (min-width: 551px) {
    .footer-nav {
      width: 25%;
      padding: 0 24px; } }

.footer-nav__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.8px;
  border-bottom: 1px solid #7D7D7D;
  text-transform: uppercase; }

.footer-nav__item {
  color: #fff;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 12.8px;
  margin-bottom: 11px; }

.footer__bottom {
  border-top: 1px solid #7D7D7D;
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 551px) {
    .footer__bottom {
      margin-top: 22px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.social__item {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 20px;
  color: #EBCB80; }

.social-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 23px 0 28px; }
  @media screen and (min-width: 551px) {
    .social-container {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin: 31px 0 0; } }

.copyright-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0px;
  line-height: 12.8px;
  text-align: center;
  margin-bottom: 10px; }
  @media screen and (min-width: 551px) {
    .copyright-container {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin: 31px 0 0;
      text-align: left; } }

.copyright {
  margin-bottom: 3px; }
