/* Roundsphere Code Test
Authored by: Kyle Sullivan
kylepsullivan@gmail.com */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  color: #4B4B4B;
  line-height: 1.5; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 54px;
  margin: 10px 0; }
  @media screen and (max-width: 780px) {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 32px; } }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 32px;
      letter-spacing: -0.5px;
      line-height: 28px; } }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  letter-spacing: -1.61px;
  line-height: 48px;
  margin: 10px 0; }
  @media screen and (max-width: 780px) {
    h2 {
      font-size: 32px;
      letter-spacing: -0.81px;
      line-height: 40px; } }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 20px;
      letter-spacing: -0.5px;
      line-height: 40px; } }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing: -0.81px;
  line-height: 42px;
  margin: 5.33px 0; }
  @media screen and (max-width: 780px) {
    h3 {
      font-size: 24px;
      letter-spacing: -0.61px;
      line-height: 32px; } }
  @media screen and (max-width: 500px) {
    h3 {
      font-size: 16px;
      letter-spacing: -0.41px;
      line-height: 32px; } }

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 10px 0; }
  @media screen and (max-width: 780px) {
    h4 {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 24px; } }
  @media screen and (max-width: 500px) {
    h4 {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 24px; } }

.width-container {
  max-width: 1200px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto; }

section {
  padding: 80px 0; }

.layout__header {
  background-image: url("../images/landingbackground.png");
  background-size: auto 100%;
  background-position: center; }
